<%= form_tag(categoria_eventos_path, method: "post",  :multipart => true, "data-ajax" => "false" ) do %>
<div class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">
		<h1>Creacion Categoria</h1>

		<ol class="breadcrumb">
		  <li class="active"><%= link_to "Categorias Eventos", categoria_eventos_path %></li>
		</ol>

		<div class="row">
			<div class="col-lg-3">
				<%= label_tag(:nombre, "Nombre:") %>
				</br>
				<%= text_field_tag(:nombre, nil, required:true) %>
			</div>
		</div>

		<%= submit_tag("Crear") %>
	</div>
</div>

<% end %>
