<div class="container-fluid">
  <h1>Consulta <small>Muestras</small></h1>
  <div class="row">
    <%= form_tag(download_crue_tests_path,  :multipart => true, "data-ajax" => "false", class:"col-2" ) do %>
      <div class="">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
          </div>
          <div class="panel-body">
              <div>
                <div class="option">
                  <%= number_field_tag(:numero_oficial, nil, placeholder:"Num oficial", class:'form-control', style:"text-transform:uppercase") %>
                </div>

                <div class="option">
                  <%= number_field_tag(:id, nil, placeholder:"ID", class:'form-control', style:"text-transform:uppercase") %>
                </div>

                <div class="option">
                  <%= text_field_tag(:primer_nombre, '', placeholder:"Primer nombre", class:'form-control', style:"text-transform:uppercase") %>
                </div>

                <div class="option">
                  <%= text_field_tag(:primer_apellido, '', placeholder:"Primer apellido", class:'form-control', style:"text-transform:uppercase") %>
                </div>

                <div class="option">
                  <%= text_field_tag(:numero_documento_search, nil, placeholder:"Numero documento", class:'form-control', style:"text-transform:uppercase") %>
                </div>

                <div class="option">
                  <%= select_tag :institucion_id, options_for_select(@instituciones.collect { |institucion|
        				[institucion.nombre.titleize, institucion.id] }, ""), { id: 'institucion_id', class:'form-control', include_blank: 'IPS'} %>
                </div>

                <div class="option">
                  <%= select_tag :entidad_prestadora_id, options_for_select(@entidades_prestadoras.collect { |entidad_prestadora|
        				[entidad_prestadora.nombre.titleize, entidad_prestadora.id] }, ""), { id: 'entidad_prestadora_id', class:'form-control', include_blank: 'EAPB'} %>
                </div>

                <div class="option">
                  <%= select_tag :laboratorio_id, options_for_select(@laboratorios.collect { |laboratorio|
        				[laboratorio.nombre.titleize, laboratorio.id] }, ""), { id: 'laboratorio_id', class:'form-control', include_blank: 'Laboratorio'} %>
                </div>

                <div class="option">
                  <select id="sexo" class="form-control" name="sexo">
                    <option value="">Sexo</option>
        						<option value="1">M</option>
        						<option value="2">F</option>
        					</select>
                </div>

                <div class="option">
                  <select id="estado" class="form-control" name="estado">
                    <option value="">Estado</option>
        						<option value="1">Muestra tomada</option>
        						<option value="2">Muestra recibida por coordinador</option>
                    <option value="3">Muestra asignada a laboratorio</option>
                    <option value="4">Muestra rechazada</option>
                    <option value="5">Muestra procesada</option>
        					</select>
                </div>

                <div class="option">
                  <select id="resultado" class="form-control" name="resultado">
                    <option value="">Resultado</option>
        						<option value="1">Por definir</option>
        						<option value="2">Positivo</option>
                    <option value="3">Negativo</option>
                    <option value="4">SE SOLICITA NUEVA MUESTRA</option>
        					</select>
                </div>

                <div class="option">
                  <select id="servicio" class="form-control" name="servicio">
                    <option value="">Servicio</option>
                    <option value="0">No tiene</option>
        						<option value="1">Hospitalizacion</option>
                    <option value="2">Urgencia</option>
                    <option value="3">UCI plena</option>
                    <option value="4">UCI intermedia</option>
                    <option value="5">Ambulatorio</option>
        					</select>
                </div>

                <div class="option">
                  <input value="" name="start_date_recibido" id="start_date_recibido" placeholder="Fecha I.recibido" onfocus="(this.type='date')" class="form-control" type="text">
                </div>

                <div class="option">
                  <input value="" name="end_date_recibido" id="end_date_recibido" placeholder="Fecha F.recibido" onfocus="(this.type='date')" class="form-control" type="text">
                </div>

                <div class="option">
                  <input value="" name="start_date_enviado" id="start_date_enviado" placeholder="Fecha I.enviado" onfocus="(this.type='date')" class="form-control" type="text">
                </div>

                <div class="option">
                  <input value="" name="end_date_enviado" id="end_date_enviado" placeholder="Fecha F.enviado" onfocus="(this.type='date')" class="form-control" type="text">
                </div>

                <div class="option">
                  <%= text_field_tag(:per_page, '10', placeholder:"Resultados por pagina", class:'form-control') %>
                </div>

    						<div class="option">
                  <button onclick="do_search(1);" type="button" class="btn btn-primary">Buscar</button>
                </div>

                <div class="option">
                  <%= submit_tag "Descargar".html_safe, :class => "btn btn-warning" %>
                </div>
              </div>
          </div>
        </div>
      </div>
    <% end -%>
    <div class="col-10">
      <div class="container-fluid">

        <div class="table-responsive">
          <table id="table-result" class="table table-hover tablesorter">
            <thead>
              <tr>
                <th data-sort="string">Numero oficial caso</th>
                <th data-sort="string">Id</th>
                <th data-sort="string">Tipo</th>
                <th data-sort="string">Estado</th>
                <th data-sort="string">Nombre</th>
                <th data-sort="string">Edad</th>
                <th data-sort="string"># Documento</th>
                <th data-sort="string">EAPB</th>
                <th data-sort="string">IPS</th>
                <th data-sort="string">Servicio</th>
                <th data-sort="string">Laboratorio</th>
                <th data-sort="string">Fecha toma muestra</th>
                <th data-sort="string">Fecha recepcion</th>
                <th data-sort="string">Fecha envio</th>
                <th data-sort="string">Resultado</th>
                <th data-sort="string">Acción</th>
              </tr>
            </thead>
      		  <tbody id="table-result-body">

      		  </tbody>
      		</table>
        </div>
      </div>

      <div class="container">
        <center>
          <div style="text-align:center" id="page-selection"></div>
        </center>
      </div>
      <div class="container">
        <center>
          Total <b><span id="cantidad_registros_tag"></span></b> registros
        </center>
      </div>

    </div>
  </div>
</div>
<div id="container"></div>
<div id="modal"></div>

<script>
  var pages_count = 0;
	var firstTime = true;
  var currentPage = 1;

  function update_paginas() {
  	$("#page-links").empty();
  	for (var i = 1; i <= pages_count; i++)
    {
      var li = $("<button/>", {
          class: 'btn page_link'
      }).html(i);
      li.appendTo('#page-links');
    }

    $('.page_link').on('click', function() {
    	xxx = $(this).html();
        load_page($(this).html());
    });
  }

  function do_search(index) {
    currentPage = index;
		if(index == 1){
			firstTime = true;
		}else{
			firstTime = false;
		}
  	show_loading_indicator();
    numero_oficial_ = $('#numero_oficial').val();
  	id_ = $('#id').val();
    primer_nombre_ = $('#primer_nombre').val();
    primer_apellido_ = $('#primer_apellido').val();
    numero_documento_ = $('#numero_documento_search').val();
    institucion_id_ = $('#institucion_id').val();
    entidad_prestadora_id_ = $('#entidad_prestadora_id').val();
    sexo_ = $('#sexo').val();
    estado_ = $('#estado').val();
    laboratorio_id_ = $('#laboratorio_id').val();
    resultado_ = $('#resultado').val();
    servicio_ = $('#servicio').val();
    start_date_recibido_ = $('#start_date_recibido').val();
    end_date_recibido_ = $('#end_date_recibido').val();
    start_date_enviado_ = $('#start_date_enviado').val();
    end_date_enviado_ = $('#end_date_enviado').val();
    size_ = $('#per_page').val();

    $.post("/crue/tests/search",
    	{
				index: index,
        id: id_,
        numero_oficial: numero_oficial_,
        primer_nombre:primer_nombre_,
        primer_apellido:primer_apellido_,
        numero_documento:numero_documento_,
        institucion_id: institucion_id_,
        entidad_prestadora_id: entidad_prestadora_id_,
        sexo: sexo_,
        estado: estado_,
        laboratorio_id: laboratorio_id_,
        resultado: resultado_,
        servicio: servicio_,
        start_date_recibido:start_date_recibido_,
        end_date_recibido:end_date_recibido_,
        start_date_enviado:start_date_enviado_,
        end_date_enviado:end_date_enviado_,
        size:size_
    	},function(result){
				hide_loading_indicator();

				$('#table-result-body').empty();
				$('#table-result-body').append($.parseHTML( result ));
        $('#cantidad_registros_tag').html($('#cantidad_registros').val());
				var cantidadPaginas = $('#cantidad_paginas').val();
				if(firstTime){
					initPager(cantidadPaginas);
				}
		}, "text");
  }

	function initPager(count){

		$('#page-selection').bootpag({
			total: count,
	    page: 1,
      maxVisible: 10,
      firstLastUse: true,
      first: '←',
      last: '→'
		}).on("page", function(event, num){
		    //$(".content").html("Page " + num); // or some ajax content loading...
				do_search(num);
		});

	}

  var original_class = document.getElementsByTagName('body')[0].className;

  function show_loading_indicator(){
    var body = document.getElementsByTagName('body')[0];
    body.className += " loading";
  }

  function hide_loading_indicator(){
    var body = document.getElementsByTagName('body')[0];
    body.className = original_class;
  }

  do_search(1);

  <%=  render partial: 'crue/tests/logic.js' %>

</script>
