<% if @registros.any? -%>
  <% @registros.each do |registro| -%>
    <% next if registro['caso_id'].nil? -%>
    <tr class='<%= registro['muestra_table_value'] %>'>
      <td class="text-right">
        <%= registro['caso_numero_oficial'] %>
      </td>
      <td class="text-right">
        <% if registro['muestra_fecha_recepcion_interna_laboratorio_asignado'] %>
          <i style="color:green;" class="fas fa-check"></i>
        <% end %>
        <%= registro['caso_id'] %>
      </td>
      <td><%= registro['muestra_tipo_value'] %></td>
      <td><%= registro['muestra_estado_value'] %></td>
      <td><%= registro['caso_nombre_completo'].upcase %></td>
      <td><%= registro['caso_edad_value'].to_i %> <%= registro['caso_unidad_medida_value'] %></td>
      <td><%= registro['caso_tipo_documento'] %>-<%= registro['caso_numero_documento'] %></td>
      <td><%= registro['entidad_prestadora_nombre'] %></td>
      <td><%= registro['institucion_nombre'] %></td>
      <td><%= registro['caso_servicio_value'] %></td>
      <td><%= registro['laboratorio_nombre'] %></td>
      <td><%= registro['muestra_fecha'] %></td>
      <td><%= registro['muestra_fecha_recepcion_interna'] %></td>
      <td><%= registro['muestra_fecha_despacho_interna'] %></td>
      <td><%= registro['muestra_resultado_value'] %></td>
      <td>
        <div class="btn-group dropleft">
          <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opciones
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" onclick="show_detalle_caso(<%= registro['caso_id'] %>);"><i class="fas fa-info-circle"></i> Detalle caso</a>
            <a class="dropdown-item" href="#" onclick="show_detalle_muestra(<%= registro['caso_id'] %>, <%= registro['muestra_id'] %>);"><i class="fas fa-info-circle"></i> Detalle muestra</a>
            <% if !current_usuario.roles_array.include?(ROLES[5]) || current_usuario.roles_array.include?(ROLES[7]) -%>
              <% if current_usuario.roles_array.include?(ROLES[6]) -%>
                <a class="dropdown-item" href="#" onclick="load_edit_muestra(<%= registro['caso_id'] %>, <%= registro['muestra_id'] %>);"><i class="fa fa-pencil-square-o"></i> Editar muestra</a>
              <% end %>
              <% if !registro['muestra_publico'] && registro['muestra_resultado'] == 2 -%>
                <a class="dropdown-item" href="#" onclick="show_aprobar(<%= registro['muestra_id'] %>);"><i class="fas fa-check"></i> Aprobar</a>
              <% end %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
  <% end -%>
<% else -%>

<% end -%>

<%= hidden_field_tag :cantidad_registros, @cantidad_registros %>
<%= hidden_field_tag :cantidad_paginas, @cantidad_paginas %>
