<%= form_tag(crue_categoria_referencia_path, method: "patch",  :multipart => true, "data-ajax" => "false" ) do %>
<div class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">
		<h1>Edicion Categoria Remision</h1>

		<ol class="breadcrumb">
		  <li class="active"><%= link_to "Coberturas", crue_categoria_referencias_path %></li>
		</ol>

		<div class="row">
			<div class="col-lg-3">
				<%= label_tag(:nombre, "Nombre:") %>
				</br>
				<%= text_field_tag(:nombre, @categoria.nombre, required:true) %>
			</div>
		</div>

		<%= submit_tag("Guardar Cambios") %>
	</div>
</div>
<% end %>
