<%= form_tag(do_change_pass_crue_laboratorio_lab_user_path(:laboratorio_id => @laboratorio.id, :id => @usuario.id), method: "patch",  :multipart => true, "data-ajax" => "false" ) do %>
<div class="container">
	<h1>Cambiar Contraseña <small><%= @usuario.primer_nombre %></small></h1>

	<ol class="breadcrumb">
		<li class=""><%= link_to "Laboratorios", crue_laboratorios_path %></li>
	  <li class="active"><%= link_to @laboratorio.nombre, crue_laboratorio_lab_users_path(@laboratorio.id) %></li>
	</ol>

	<div class="col-md-12">
		<div class="form-group">
			<p class="control-label">Contraseña</p>
			<%= password_field_tag(:password, nil, :minlength => 8, required:true, :class =>"form-control") %>
		</div>
	</div>

	<div class="col-md-12">
		<div class="form-group">
			<p class="control-label">Repita su Contraseña</p>
			<%= password_field_tag(:password_again, nil, :minlength => 8, required:true, :class =>"form-control") %>
		</div>
	</div>

	<div class="col-md-12">
		<div class="form-group">
			<%= submit_tag("Guardar Cambios", :class => "btn btn-primary form-control") %>
		</div>
	</div>

</div>

<% end %>


<script type="text/javascript">
	var password = new LiveValidation( "password", { validMessage: " ", wait: 500 } );
	password.add( Validate.Presence,
              { failureMessage: "Campo Requerido" } );
	password.add( Validate.Length, { minimum: 6 } );
	password.add( Validate.Length, { maximum: 40 } );

	var password_again = new LiveValidation( "password_again", { validMessage: " ", wait: 500 } );
	password_again.add( Validate.Presence,
              { failureMessage: "Campo Requerido" } );
	password_again.add( Validate.Length, { minimum: 6 } );
	password_again.add( Validate.Length, { maximum: 40 } );
	password_again.add( Validate.Confirmation, { match: 'password' } );

</script>
