<% if current_usuario.es_super_admin %>
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add-entidad-prestadora">
		Nueva EAPB
	</button>
<% end %>


<%= form_tag(export_xls_crue_entidad_prestadoras_path, method: "post",  :multipart => true, "data-ajax" => "false" ) do %>
<h1>EAPB's</h1>
<div class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table id="table-result" class="table table-bordered table-hover table-striped tablesorter">
			  <thead>
			    <tr>
						<th data-sort="string">Id</th>
						<th data-sort="string">Codigo</th>
						<th data-sort="string">Nombre</th>
						<th data-sort="string">Roles</th>
						<th data-sort="string">Estado</th>
						<th data-sort="string">Red Urgencias</th>
			      <th>Acción</th>
			    </tr>
			  </thead>
			  <tbody id="table-result-body">
					<% @entidades_prestadoras.each do |entidad_prestadora| -%>
						<tr class="<%= !current_usuario.es_super_admin && current_municipio.entidad_prestadoras.include?(entidad_prestadora) ? "table-success" : "table-danger" %>">
							<td><%= entidad_prestadora.id %></td>
							<td><%= entidad_prestadora.codigo %></td>
					    <td><%= entidad_prestadora.nombre %></td>
							<td>
				        <%= entidad_prestadora.roles_value %>
				      </td>
							<td>
								<% if !current_usuario.es_super_admin %>
									<%= link_to toggle_habilitacion_crue_entidad_prestadora_path(entidad_prestadora.id), :method => :put, :title => "Habilitar/Deshabilitar", :class => "btn btn-xs btn-primary" do %>
										<%= current_municipio.entidad_prestadoras.include?(entidad_prestadora) ? "Deshabilitar" : "Habilitar" %>
									<% end %>
								<% end %>
				      </td>
							<td><%= entidad_prestadora.institucions.any? ? "SI" : "NO" %></td>
							<td>
								<% if current_usuario.es_super_admin %>
									<%= link_to edit_crue_entidad_prestadora_path(entidad_prestadora.id), :title => "Editar EAPB", :class => "btn btn-xs btn-success" do %>
										<i class="fa fa-pencil-square-o"></i> Editar
								  <% end %>
									<%= link_to crue_entidad_prestadora_path(entidad_prestadora.id), class:"btn btn-xs btn-success", method: :delete, title:"Borrar EAPB", :data => { :confirm => 'Estas seguro? Este cambio no se puede revertir' } do %>
										<i class="fa fa-trash-o"></i> Borrar
								  <% end %>
								<% else %>
									<%= link_to crue_entidad_prestadora_eps_users_path(entidad_prestadora.id), :class => "btn btn-xs btn-success", :title => "Usuarios" do %>
										Usuarios
									<% end %>
									<%= link_to red_urgencia_crue_entidad_prestadora_path(entidad_prestadora.id), :class => "btn btn-xs btn-success", :title => "Red Urgencia" do %>
										Red Urgencias
									<% end %>
								<% end %>
							</td>
						</tr>
					<% end -%>
			  </tbody>
			</table>
		</div>
	</div>
</div>
<% if false -%>
	<h1>EAPB's(ESPECIALES)</h1>
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title"></h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table id="table-result" class="table table-bordered table-hover table-striped tablesorter">
				  <thead>
				    <tr>
							<th data-sort="string">Nombre</th>
							<th data-sort="string">Red Urgencias</th>
							<th data-sort="string">Red Ambulancias</th>
				      <th>Acción</th>
				    </tr>
				  </thead>
				  <tbody id="table-result-body">
						<% @entidades_prestadoras_especiales.each do |entidad_prestadora| -%>
							<tr class="<%= entidad_prestadora.table_class %>">
						    <td><%= entidad_prestadora.nombre %></td>
								<td><%= entidad_prestadora.institucions.any? ? "SI" : "NO" %></td>
								<td><%= entidad_prestadora.empresa_ambulancias.any? ? "SI" : "NO" %></td>
								<td>
									<%= link_to edit_crue_entidad_prestadora_path(entidad_prestadora.id), :title => "Editar EAPB", :class => "btn btn-default" do %>
										<i class="fa fa-pencil-square-o"></i> Editar
								  <% end %>

									<%= link_to crue_entidad_prestadora_path(entidad_prestadora.id), class:"btn btn-default", method: :delete, title:"Borrar EAPB", :data => { :confirm => 'Estas seguro? Este cambio no se puede revertir' } do %>
										<i class="fa fa-trash-o"></i> Borrar
								  <% end %>

									<%= link_to crue_entidad_prestadora_eps_users_path(entidad_prestadora.id), :class => "btn btn-default", :title => "Usuarios" do %>
										<i class="fa fa-hospital-o"></i> Usuarios(<%= entidad_prestadora.usuarios.count %>)
								  <% end %>
								</td>
							</tr>
						<% end -%>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
		<% if false -%>
			<%= submit_tag "✓Exportar Datos", :name => 'export_data' %>
		<% end -%>
	<% end %>
<% end -%>


<!-- ==========-=-=-=-=-=-=-=-=-=-= MODAL AGREGAR EAPB =-=-=-=-=-=-=-=-=-=-========== -->
	<div class="modal fade" id="add-entidad-prestadora" tabindex="-1" role="dialog" aria-labelledby="add-edit-Label" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
					<h4 class="modal-title text-center" id="add-table-Label">Nueva EAPB</h4>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
	      </div>
	      <div class="modal-body">
	        <%= form_tag(crue_entidad_prestadoras_path, method: "post", :multipart => true, "data-ajax" => "false" ) do %>

	          <div class="row">

							<div class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Codigo</p>
	                <%= text_field_tag(:codigo, "", :class =>"form-control") %>
	              </div>
	            </div>

							<div class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Nombre</p>
	                <%= text_field_tag(:nombre, "", :required => true, :class =>"form-control") %>
	              </div>
	            </div>

							<div class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Especial?</p>
	                <%= check_box_tag :especial, '1', false, class: "form-control" %>
	              </div>
	            </div>

							<div class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Roles</p>
									<% for rol in ROLES_ENTIDADES_PRESTADORAS %>
										<div style="<%= 'display:none;' unless rol[:enabled] %>">
											<%= check_box_tag "roles[#{rol[:id]}]", "1", false %>
											<%= rol[:nombre] %>
										</div>
									<% end %>
	              </div>
	            </div>

	            <div class="col-md-12">
	              <div class="form-group">
									<%= submit_tag "Crear", :class => "btn btn-default form-control" %>
	              </div>
	            </div>

	          </div>

	        <% end %>

	      </div>
	    </div>
	  </div>
	</div>
<!-- =-=-=-=-=-=-=-=-=-=-========== /MODAL AGREGAR EAPB ==========-=-=-=-=-=-=-=-=-=-= -->
