<!-- ==========-=-=-=-=-=-=-=-=-=-= MODAL MUNICIPIOS =-=-=-=-=-=-=-=-=-=-========== -->
<div class="modal fade" id="municipios" tabindex="-1" role="dialog" aria-labelledby="municipios" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center" id="add-product-Label">Municipios de <%= @departamento.nombre %></h4>
      </div>
      <div class="modal-body">

        <div class="table-responsive" style="overflow:auto;">
      		<table id="table-result" class="table table-hover tablesorter">
            <thead>
              <tr>
                <th data-sort="string">Nombre</th>
                <th data-sort="string">Cantidad Usuarios</th>
                <th data-sort="string">Habilitado</th>
                <th data-sort="string">Acción</th>
              </tr>
            </thead>

            <tbody id="table-result-body">
              <% count = 0 -%>
              <% @municipios.order('created_at DESC').each do |municipio| -%>
                <tr>
                 <td><%= municipio.nombre %></td>
                 <td class="text-right"><%= municipio.usuarios.count %></td>
                 <td>
                   <%= "Remisiones" if municipio.habilitado_remisiones %>
                   <%= "Autorizaciones" if municipio.habilitado_autorizaciones %>
                 </td>
                 <td><%= link_to "DETALLE", municipio_path(municipio.id) %></td>
                </tr>
              <% end -%>
            </tbody>

      		</table>
      	</div>

      </div>
    </div>
  </div>
</div>
<!-- =-=-=-=-=-=-=-=-=-=-========== MODAL DETALLE FACTURA ==========-=-=-=-=-=-=-=-=-=-= -->
