<%= form_tag(diagnostico_path, method: "patch",  :multipart => true, "data-ajax" => "false" ) do %>
<div class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">
		<h1>Edicion Diagnostico</h1>

		<ol class="breadcrumb">
		  <li class="active"><%= link_to "Diagnosticos", diagnosticos_path %></li>
		</ol>

		<div class="row">
			<div class="col-lg-3">
				<%= label_tag(:nombre, "Nombre:") %>
				</br>
				<%= text_field_tag(:nombre, @diagnostico.nombre) %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3">
				<%= label_tag(:nombre, "Cantidad Horas Limite:") %>
				</br>
				<%= number_field_tag(:cantidad_horas_limite, @diagnostico.cantidad_horas_limite, min: 0.1, max: 24, step: 0.1, class: "form-control") %>
			</div>
		</div>

		<%= submit_tag("Guardar Cambios") %>
	</div>
</div>
<% end %>
