<%= form_tag(do_change_pass_departamento_user_path(:departamento_id => @departamento.id, :id => @usuario.id), method: "patch",  :multipart => true, "data-ajax" => "false" ) do %>
<div class="container">
	<h1>Cambiar Contraseña <small><%= @usuario.primer_nombre %></small></h1>

	<ol class="breadcrumb">
	  <li class="active"><%= link_to "Usuarios", departamento_users_path(@departamento.id) %></li>
	</ol>

	<fieldset>
		<div class="clearfix">
			<%= label_tag(:password, "Contraseña:") %>
			<div class="input">
				<%= password_field_tag(:password, nil, :minlength => 8, class:"form-control", required:true) %>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<div class="clearfix">
			<%= label_tag(:password_again, "Repita su Contraseña:") %>
			<div class="input">
				<%= password_field_tag(:password_again, nil, :minlength => 8, class:"form-control", required:true) %>
			</div>
		</div>
	</fieldset>

	<%= submit_tag("Guardar Cambios") %>

</div>

<% end %>
