<p>Se ha asignado un caso a </p>
<h3>Datos Caso</h3>
<table id="table-result" class="table table-bordered table-hover table-striped tablesorter">
  <tbody id="table-result-body">
    <tr>
      <td>CODIGO</td>
      <td class="text-right"><%= @evento.uuid %></td>
    </tr>
    <tr>
      <td>DIRECCION</td>
      <td class="text-right"><%= @evento.direccion %></td>
    </tr>
    <tr>
      <td>CATEGORIA</td>
      <td class="text-right"><%= @evento.categoria_evento.nombre if @evento.categoria_evento %></td>
    </tr>
    <tr>
      <td>OBSERVACION INICIAL</td>
      <td class="text-right"><%= @evento.observacion %></td>
    </tr>
    <tr>
      <td>NIVEL TRIAGE</td>
      <td class="text-right"><%= @evento.nivel_complejidad_paciente_value %></td>
    </tr>
    <tr>
      <td>TIEMPO ESTIMADO LLEGADA A HOSPITAL</td>
      <td class="text-right">00:15 MINUTOS</td>
    </tr>
  </tbody>
</table>

<h3>Datos Paciente</h3>
<table class="table borderless">
  <tbody>
    <tr>
      <td>NOMBRE</td>
      <td class="text-right"><%= @evento.paciente.nombre %></td>
    </tr>
    <tr>
      <td>TIPO DOCUMENTO</td>
      <td class="text-right">
        <%= @evento.paciente.tipo_documento_value %>
      </td>
    </tr>
    <tr>
      <td>NUMERO DOCUMENTO</td>
      <td class="text-right">
        <%= @evento.paciente.numero_documento %>
      </td>
    </tr>
    <tr>
      <td>OBSERVACION</td>
      <td class="text-right"><%= @evento.observacion_ambulancia %></td>
    </tr>
  </tbody>
</table>
