<p>Muestra de COVID-19 POSITIVO</p>
<p>El resultado está en espera de ser colocado en modo <b>publico</b></p>
<table>
  <thead>

  </thead>
  <tbody>
    <tr>
      <td>ID</td>
      <td><%= @caso.id %></td>
    </tr>
    <tr>
      <td>NOMBRE</td>
      <td><%= @caso.nombre_completo %></td>
    </tr>
    <tr>
      <td>EDAD</td>
      <td><%= @caso.edad_value %></td>
    </tr>
    <tr>
      <td>EPS</td>
      <td><%= @caso.entidad_prestadora.nombre if @caso.entidad_prestadora %></td>
    </tr>
    <tr>
      <td>INSTITUCION</td>
      <td><%= @caso.institucion.nombre if @caso.institucion %></td>
    </tr>
    <tr>
      <td>LABORATORIO</td>
      <td><%= @muestra.laboratorio.nombre if @muestra.laboratorio %></td>
    </tr>
  </tbody>
</table>
