$('#<%= @component_id %>').empty();
$('#<%= @component_id %>').append( $('<option value label=""></option>'));
<% @cities.each do |city| %>
  $('#<%= @component_id %>').append($('<option value="<%= city.id %>"><%= "#{city.name}" %></option>'));
<% end %>
