<!-- ==========-=-=-=-=-=-=-=-=-=-= MODAL SEGUIMIENTOS =-=-=-=-=-=-=-=-=-=-========== -->
<div class="modal fade" id="agregar-contacto" tabindex="-1" role="dialog" aria-labelledby="seguimientos" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class='col-12 modal-title text-center'>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </h3>
      </div>
      <div class="modal-body">
        <%= form_tag(do_agregar_contacto_crue_caso_salud_publica_path(@parent.id), method: "put", remote:true, :multipart => true, "data-ajax" => "false" ) do %>
          <%= hidden_field_tag(:son_id, params[:son_id]) %>
          <div class="row">

            <div class="container card-group">
              <div class="card">
                <div class="card-body">
                  <div class="jumbotron">
                    <h1 class="display-4">Advertencia</h1>
                    <p class="lead">El paciente <b><%= @caso.nombre_completo %></b> pasará a ser contacto de <b><%= @parent.nombre_completo %></b></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="text-center">
                <%= submit_tag "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Confirmar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe, :class => "btn btn-lg btn-primary" %>
              </div>
            </div>

          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
<!-- =-=-=-=-=-=-=-=-=-=-========== MODAL SEGUIMIENTOS ==========-=-=-=-=-=-=-=-=-=-= -->
