<%= form_tag(usuario_api_path, method: "patch",  :multipart => true, "data-ajax" => "false" ) do %>
<div class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">
		<h1>Edicion cuenta</h1>

		<ol class="breadcrumb">
		  <li class="active"><%= link_to "", usuario_apis_path %></li>
		</ol>

		<div class="col-md-12">
			<div class="form-group">
				<p class="control-label">Nombre</p>
				<%= text_field_tag(:nombre, @usuario.nombre, required:true, class:'form-control') %>
			</div>
		</div>

		<div class="col-md-12">
			<div class="form-group">
				<p class="control-label">Version</p>
				<select id="version" class="form-control" name="version">
					<option <%= "selected" if @usuario.version == 1 %> value="1">1</option>
					<option <%= "selected" if @usuario.version == 2 %> value="2">2</option>
				</select>
			</div>
		</div>

		<div class="col-md-12">
			<div class="form-group">
				<p class="control-label">Departamento</p>
				<%= select_tag "departamento_id", options_for_select(@departamentos.collect{ |departamento| [departamento.nombre, departamento.id] }, (@usuario.departamento ? @usuario.departamento.id : nil)), { include_blank:true, id:'departamentos_select', disabled:false, required:true, class:'form-control' } %>
			</div>
		</div>

		<div class="col-md-12">
			<div class="form-group">
				<p class="control-label">Municipio</p>
				<%= select_tag "municipio_id", options_for_select(@municipios.collect{ |municipio| [municipio.nombre, municipio.id] }, (@usuario.municipio ? @usuario.municipio.id : nil)), { id:'municipios_select', disabled:false, required:true, class:'form-control'} %>
			</div>
		</div>

		<%= submit_tag("Guardar Cambios") %>
	</div>
</div>
<% end %>

<script>
	$("#departamentos_select").on("change", function() {
		return $.ajax({
			url: "/departamentos/" + $('#departamentos_select option:selected').val() + "/get_municipios",
			type: "GET",
			dataType: "script"
		});
	});
</script>
