<%= form_with model: [:crue, @insurance_carrier], local:true do |form| %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">
      <h1>Creacion Aseguradora</h1>

      <ol class="breadcrumb">
        <li class="active"><%= link_to "Aseguradoras", crue_insurance_carriers_path %></li>
      </ol>
      
      <%=  render partial: 'common/error_model', :locals => { collection: @insurance_carrier.errors.full_messages } %>
            
      <div class="row">
        <div class="col-lg-3">
          <%= form.label :code %>:
          </br>
          <%= form.text_field :code, class:'form-control', required:false %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <%= form.label :name %>:
          </br>
          <%= form.text_field :name, class:'form-control', required:false %>
        </div>
      </div>

      <%= form.submit("Crear") %>
    </div>
  </div>
<% end %>
