<% if !current_usuario.roles_array.include?(ROLES[8]) -%>
	<%= link_to "Nuevo Notificador", new_crue_operario_path, :class => "btn btn-lg btn-primary" %>
<% end -%>
<h1>Notificadores</h1>
<%= form_tag(export_xls_crue_operarios_path, method: "post",  :multipart => true, "data-ajax" => "false" ) do %>
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title"></h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table id="table-result" class="table table-bordered table-hover table-striped tablesorter">
				  <thead>
				    <tr>
				      <th data-sort="int">#</th>
				      <th data-sort="string">Nombre</th>
							<th data-sort="string">Direccion</th>
							<th data-sort="string">Descripcion</th>
				      <th>Acción</th>
				    </tr>
				  </thead>
				  <tbody id="table-result-body">
				  	<% count = 0 -%>
						<% @operarios.each do |operario| -%>
							<% count += 1 -%>
							<tr>
								<td><%= count %></td>
						    <td><%= operario.nombre %></td>
								<td><%= operario.email %></td>
								<td><%= operario.cedula %></td>
								<td>
									<% if !current_usuario.roles_array.include?(ROLES[8]) -%>
										<%= link_to '<i class="fa fa-pencil-square-o"></i> Editar'.html_safe, edit_crue_operario_path(operario.id), :class => "btn btn-xs btn-primary" %>
										<%= link_to '<i class="fa fa-trash-o"></i> Borrar'.html_safe, crue_operario_path(operario.id), method: :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => 'Estas seguro? Este cambio no se puede revertir' } %>
									<% end -%>
								</td>
							</tr>
						<% end -%>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
	<%= submit_tag "✓Exportar Datos", :name => 'export_data' %>
<% end %>

<div id="modal"></div>
<script>
	function show_detalle(id){
		$.get("/crue/operarios/" + id,
			{
			},function(result){
				$('#modal').empty();
				$('#modal').append($.parseHTML( result ));
				$("#detalle-operario").modal('show');
		}, "text");
	}
</script>
