# encoding: UTF-8
<%= link_to new_crue_entidad_prestadora_eps_user_path, :class => "btn btn-primary btn-lg", :title => "Nuevo usuario" do %>
	Nuevo Usuario
<% end %>

<h1>Usuarios <%= @entidad_prestadora.nombre %></h1>
<%= form_tag(export_xls_crue_entidad_prestadora_eps_users_path(@entidad_prestadora.id), method: "post",  :multipart => true, "data-ajax" => "false" ) do %>

<div class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table id="table-result" class="table table-bordered table-hover table-striped tablesorter">
			  <thead>
			    <tr>
            <th data-sort="int">#</th>
			      <th data-sort="string">Nombre Completo</th>
            <th data-sort="string">Identificacion</th>
						<th data-sort="string">Email</th>
						<th data-sort="string">Telefono</th>
            <th data-sort="string">Cargo</th>
            <th data-sort="string">Fecha Vigencia</th>
						<th data-sort="string">Departamento</th>
						<th data-sort="string">Municipio</th>
						<th data-sort="string">Roles</th>
			      <th>Acción</th>
			    </tr>
			  </thead>
			  <tbody id="table-result-body">
			  	<% count = 0 -%>
					<% @usuarios.each do |usuario| -%>
						<% count += 1 -%>
						<tr class="<%= (usuario.activo) ? 'success' : 'danger' %>">
								<% if usuario.activo -%>
									<td><i class="fa fa-check-circle"></i><%= count %></td>
								<% else -%>
									<td><i style="color:red;" class="fa fa-times"></i><%= count %></td>
								<% end -%>
								<td><%= usuario.nombre_completo %></td>
						    <td><%= usuario.identificacion %></td>
                <td><%= usuario.email %></td>
								<td><%= usuario.telefono %></td>
                <td><%= usuario.cargo %></td>
								<td><%= usuario.fecha_vigencia.strftime("%e %b %Y") if usuario.fecha_vigencia %></td>
								<td><%= usuario.departamento.nombre if usuario.departamento %></td>
								<td><%= usuario.municipio.nombre if usuario.municipio %></td>
								<td><%= usuario.roles_value %></td>
								<td>
									<%= link_to edit_crue_entidad_prestadora_eps_user_path(:id => usuario.id, :entidad_prestadora_id => @entidad_prestadora.id), :class => "btn btn-xs btn-success", :title => "Editar" do %>
                    <i class="fa fa-pencil-square-o"></i> Editar
								  <% end %>

									<%= link_to crue_entidad_prestadora_eps_user_path(:id => usuario.id, :entidad_prestadora_id => @entidad_prestadora.id), method: :delete, :class => "btn btn-xs btn-success", title:"Borrar usuario", :data => { :confirm => 'Estas seguro? Este cambio no se puede revertir' } do %>
                    <i class="fa fa-trash-o"></i> Borrar
								  <% end %>

									<%= link_to reset_password_crue_entidad_prestadora_eps_user_path(:id => usuario.id, :entidad_prestadora_id => @entidad_prestadora.id), method: :patch, :class => "btn btn-xs btn-success", :title => "Restablecer Contraseña" do %>
										Restablecer Contraseña
									<% end %>

								</td>
						</tr>
					<% end -%>
			  </tbody>
			</table>
		</div>
	</div>
</div>

	<%= submit_tag "✓Exportar Datos", :name => 'export_data' %>
<% end %>



<!-- ==========-=-=-=-=-=-=-=-=-=-= MODAL AGREGAR USUARIO =-=-=-=-=-=-=-=-=-=-========== -->
	<div class="modal" id="add-usuario" tabindex="-1" role="dialog" aria-labelledby="add-edit-Label" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
					<h4 class="modal-title text-center" id="add-table-Label">Nuevo Usuario</h4>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
	      </div>
	      <div class="modal-body">
	        <%= form_tag(crue_entidad_prestadora_eps_users_path(@entidad_prestadora), method: "post",  :multipart => true, "data-ajax" => "false" ) do %>

	          <div class="row">

							<div class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Primer Nombre<p>
	                <%= text_field_tag(:primer_nombre, "", :class =>"form-control", :placeholder => "", required:true) %>
	              </div>
	            </div>

              <div class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Segundo Nombre<p>
	                <%= text_field_tag(:segundo_nombre, "", :class =>"form-control", :placeholder => "") %>
	              </div>
	            </div>

              <div class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Primer Apellido<p>
	                <%= text_field_tag(:primer_apellido, "", :class =>"form-control", :placeholder => "", required:true) %>
	              </div>
	            </div>

              <div class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Segundo Apellido<p>
	                <%= text_field_tag(:segundo_apellido, "", :class =>"form-control", :placeholder => "", required:true) %>
	              </div>
	            </div>

							<div class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Telefono<p>
	                <%= text_field_tag(:telefono, "", :class =>"form-control", :placeholder => "") %>
	              </div>
	            </div>

              <div class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Identificacion<p>
	                <%= text_field_tag(:identificacion, "", :class =>"form-control", :placeholder => "") %>
	              </div>
	            </div>

              <div class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Email<p>
	                <%= email_field_tag(:email, "", :class =>"form-control", :placeholder => "", required:true) %>
	              </div>
	            </div>

							<div class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Password Dinamica<p>
	                <%= check_box_tag :password_dinamica, 'true', true, onchange:"passwordDinamicaChanged();", class:'form-control' %>
	              </div>
	            </div>

              <div id="password_container" class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Contraseña<p>
	                <%= password_field_tag(:password, "", :minlength => 8, :class =>"form-control", :placeholder => "", required:true) %>
	              </div>
	            </div>

              <div id="repeat_password_container" class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Repita Contraseña<p>
	                <%= password_field_tag(:repeat_password, "", :minlength => 8, :class =>"form-control", :placeholder => "", required:true) %>
	              </div>
	            </div>

              <div class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Cargo<p>
	                <%= text_field_tag(:cargo, "", :class =>"form-control", :placeholder => "") %>
	              </div>
	            </div>

              <div class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Fecha Vigencia<p>
	                <%= date_field_tag(:fecha_vigencia, "", :class =>"form-control", :placeholder => "") %>
	              </div>
	            </div>
							<% if current_municipio.nil? -%>
								<div class="col-md-12">
									<div class="form-group">
										<p class="control-label">Departamento</p>
										<%= select_tag "departamento_id", options_for_select(@departamentos.collect{ |departamento| [departamento.nombre, departamento.id] }, nil), { include_blank:true, id:'departamentos_select', disabled:false, required:false, class:"form-control" } %>
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<p class="control-label">Municipio</p>
										<%= select_tag "municipio_id", options_for_select([]), { id:'municipios_select', disabled:false, class:"form-control"} %>
									</div>
								</div>
							<% end -%>

							<div class="col-md-12">
	              <div class="form-group">
	                <p class="control-label">Roles</p>
										<% roles = @entidad_prestadora.especial ? ROLES_USUARIOS_ENTIDADES_PRESTADORAS_LIMITADO : ROLES_USUARIOS_ENTIDADES_PRESTADORAS %>
										<% roles.each do |rol| %>
											<div style="<%= 'display:none;' unless rol[:enabled] %>">
												<%= check_box_tag "roles[#{rol[:id]}]", "1", false %>
												<%= rol[:nombre] %>
											</div>
										<% end %>
	              </div>
	            </div>

	            <div class="col-md-12">
	              <div class="form-group">
									<%= submit_tag "Crear", :class => "btn btn-default form-control" %>
	              </div>
	            </div>

	          </div>

	        <% end %>

	      </div>
	    </div>
	  </div>
	</div>
<!-- =-=-=-=-=-=-=-=-=-=-========== /MODAL AGREGAR USUARIO ==========-=-=-=-=-=-=-=-=-=-= -->


<script>

	$("#departamentos_select").on("change", function() {
		return $.ajax({
			url: "/departamentos/" + $('#departamentos_select option:selected').val() + "/get_municipios",
			type: "GET",
			dataType: "script"
		});
	});

	$('#add-usuario').on('shown.bs.modal', function (e) {
		$("#password_container").hide();
		$("#repeat_password_container").hide();
		$("#password").removeAttr('required');
		$("#repeat_password").removeAttr('required');
	});

	function passwordDinamicaChanged(){
    if(!$('#password_dinamica').is(":checked")){
			$("#password_container").show();
			$("#password_again_container").show();
			$("#password").attr('required','');
			$("#password_again").attr('required','');
		}
    else{
			$("#password_container").hide();
			$("#password_again_container").hide();
			$("#password").removeAttr('required');
			$("#password_again").removeAttr('required');
		}
  }

</script>
