<%= form_tag(update_sms_variables_path, method: "post",  :multipart => true, "data-ajax" => "false" ) do %>
<div class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title"></h3>
	</div>
	<div class="panel-body">
		<h1>Edición Textos SMS</h1>

		<div class="row">
			<div class="col-lg-12">
				<%= label_tag(:sms_ok, "SMS OK:") %>
				</br>
				<%= text_field_tag(:sms_ok, @variable_sms_ok.value, :required => true, class:"form-control") %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<%= label_tag(:sms_bad, "SMS Fallido:") %>
				</br>
				<%= text_field_tag(:sms_bad, @variable_sms_bad.value, :required => true, class:"form-control") %>
			</div>
		</div>
		</br>
		<div class="row">
			<div class="text-center">
				<%= submit_tag("Guardar Cambios", class:"btn-success") %>
			</div>
		</div>

	</div>
</div>
<% end %>
